<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alan.app.timebuy.dao.mapper.AppealMapper">

    <sql id="TABLE">d_timebuy_appeal</sql>

    <resultMap id="DATA" type="com.alan.app.timebuy.entity.Appeal">
        <id property="appealId" column="appeal_id"/>
        <result property="appealTime" column="appeal_time"/>
        <result property="content" column="content"/>
        <result property="newsId" column="news_id"/>
    </resultMap>

    <insert id="insert" parameterType="com.alan.app.timebuy.entity.Appeal" useGeneratedKeys="true" keyColumn="id" keyProperty="appealId">
        INSERT INTO <include refid="TABLE"/>
        (appeal_time,content,news_id)
        VALUES(#{appealTime},#{content},#{newsId})
    </insert>
</mapper>